.vscode/
build/
/home/elijah/Spring-2024-Embedded-Systems-Programming/Assignments/1/ElijahGuzman_Assignment1.zip
Assignments/.DS_Store
/Users/elijah/Desktop/School/Spring-2024-Embedded-Systems-Programming/Assignments/Static_Libraries/ElijahGuzman-Assignment2.zip
.gitignore
